* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'HelveticaNeue', 'Helvetica Neue', 'Roboto', 'Droid Sans', Arial, sans-serif;
  line-height: 1.4;
  color: #333;
}

.inner {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.sec-cmn {
  margin-bottom: 70px;
}

.headline1 {
  margin-bottom: 30px;
  padding: 10px 20px;
  background: linear-gradient(
    90deg,
    rgba(228, 162, 47, 0.9388349089635855) 13%,
    rgba(213, 174, 57, 0.7735688025210083) 45%,
    rgba(242, 202, 18, 0.790375525210084) 93%
  );
  color: #fff;
  font-size: 2.8rem;
}

.btn {
  display: inline-block;
  min-width: 150px;
  margin: 30px auto 0;
  padding: 10px 20px;
  border: 1px solid rgb(228, 162, 47);
  border-radius: 15px;
  background-color: #fff;
  color: rgb(228, 162, 47);
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s linear, color 0.3s linear;
  &:hover {
    background-color: rgb(228, 162, 47);
    color: #fff;
  }
}
